$color-blueish-gray: #67768b;
$color-light-grey: #bcc3ca;
$color-active-yellow: #ecad00;
$crm-tab-grey: #f3f3f3;
$crm-tab-police-grey: #505050;

$color-dark-grey: #313a45;
$color-greyish-dark-blue: #263e55;
$color-blueish-white: #f7f8f9;

$unified-interface-red: #a42b1a;
$unified-interface-blue: #3b79b7;