$medium-grey: grey;
$pure-white: #fff;
$color-blueish-gray: grey;
$light-blue: blue;
$color-greyish-dark-blue:  blue;
$light-grey: grey;
$color-active-yellow: yellow;
$medium-blue: blue;
$unified-interface-red: red;

$default-border: 1px solid $medium-grey;
$default-border-radius: 2px;
$default-font-size: 15px;

$tab-section-height: 42px;
$tab-line-height: 40px;
$crm-tab-border-top: 2px solid #f8f8f8;
$crm-tab-selected-border-top: 2px solid #0078d7;
$crm-tab-border: 1px solid #cccccc;

$font-size-smallest: 12px;

$more-tab-line-height: 24px;

// Popup
$popup-triangle-height: 10px;
$popup-facet-margin: 5px 5px 5px 5px;

// QuickCreate
$quickcreate-in-tabs-margin-left: 5px;